.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.register-form {
  padding: 20px 0;
  max-width: 500px;
  margin: auto;
  opacity: 0.5;
}

.block-back {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.img-back {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.card-back {
  background-color: #00000000;
  /* margin-top: 46%; */
}

.card_body_test {
  position: absolute;
  top: calc(16em - 7px);
  left: 50px;
  /* height: calc(27em + 12px); */
  width: 80%;
}

.login_form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form_card {
  width: 27%;
  height: calc(38% - 16px);
}

.login_form_body {
  background-color: #f8f8ff66 !important;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Media Query for Mobile Devices */
@media (max-width: 1257px) {
  .login_form_card {
    width: 21em !important;
    height: calc(16em - 4px);
  }

}